    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-info fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{path('messagerie_homepage')}}" rel="tooltip" title="Accueil" data-placement="bottom" target="_blank">
                    {{app_name}}
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" rel="tooltip" title="Gérer" data-placement="bottom">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>{{ app.user.longname }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Notifications" data-placement="bottom">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p class="d-lg-none d-xl-none">Notifications</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Déconnexion" data-placement="bottom" href="{{path('app_logout')}}" >
                            <i class="now-ui-icons media-1_button-power"></i>
                            <p class="d-lg-none d-xl-none">Déconnexion</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>